header {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	position: fixed;
	top: 0px;
	z-index: 1000;
	padding: 0px 50px;
	width: 100%;
	height: 100px;
	background-color: var(--dark-black);
	pointer-events: auto !important;
	user-select: auto !important;
	transition: top 0.5s ease-in-out;
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .4);
}
.mini-nav {
	height: 10vh;
	background-color: var(--dark-black);
}
.large-nav {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	position: relative;
	width: 100%;
	counter-reset: item 0;
	z-index: 12;
	top: 0;
}
.hide-header {
	top: -100px;
}
.links {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}
ol {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	padding: 0px;
	margin: 0px;
	list-style: none;
}
ol li {
	margin: 0px 5px;
	position: relative;
	counter-increment: item 1;
	font-size: 13px;
}
ol li a {
	padding: 20px;
}

ol li a::before {
	content: "0" counter(item) ".";
	margin-right: 5px;
	color: var(--cyan);
	font-size: 12px;
	text-align: right;
}

.large-nav-button {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	position: relative;
	width: 100%;

	counter-reset: item 0;
	z-index: 12;
}
li {
	display: list-item;
	text-align: -webkit-match-parent;
}
.logo a {
	font-family: 'Monoton', cursive;
	margin: auto;
	font-size: 50px;
	text-decoration: none;
	color: var(--cyan);
	position: relative;
}

.links li a {
	color: var(--white);
	text-decoration: none;
	position: relative;
	top: 0;
	transition: top ease-in-out 0s;
}
.links li a:hover {
	color: var(--cyan);
	top: -2px;
}

.fullscreen-links {
	display: flex;
	list-style: none;
	width: 50%;
	height: 100%;
	justify-content: space-around;
	align-items: center;
	margin-left: auto;
}
@media screen and (max-width: 768px) {
	header {
		display: none;
	}
	.hide-header {
		top: -50px;
	}
	.mini-nav {
		box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .4);
		background-color: var(--dark-black);
		position: relative;
	}
	.logo {
		position: absolute;
		left: 5%;
		top: 50%;
		z-index: 101;
		transform: translate(-5%, -50%);
	}
	.line {
		transition: all 0.5s ease-out;
	}
	.line:nth-child(1) {
		width: 22px;
		height: 2px;
		background: var(--cyan);
		border-radius: 50px;
		margin: 5px;
	}
	.line:nth-child(2) {
		width: 30px;
		height: 2px;
		background: var(--cyan);
		border-radius: 50px;
		margin: 5px;
	}
	.line:nth-child(3) {
		width: 22px;
		height: 2px;
		background: var(--cyan);
		border-radius: 50px;
		margin: 5px;
	}
	.line:nth-child(1):hover {
		background: var(--white);
	}
	.line:nth-child(2):hover {
		background: var(--white);
	}
	.line:nth-child(3):hover {
		background: var(--white);
	}
	li {
		display: inline-block;
	}
	.hamburger {
		position: absolute;
		cursor: pointer;
		right: 5%;
		top: 50%;
		transform: translate(-5%, -50%);
		z-index: 101;
	}

	.fullscreen-links {
		position: fixed;
		background: var(--dark-black);
		list-style: none;
		height: 100vh;
		width: 100%;
		z-index: 100;
		flex-direction: column;
		clip-path: circle(100px at 100 -20%);
		-webkit-clip-path: circle(100px at 100% -20%);
		transition: all 1s ease-out;
		pointer-events: none;
	}

	.fullscreen-links.open {
		clip-path: circle(1200px at 100% -20%);
		-webkit-clip-path: circle(1200px at 100% -20%);
		pointer-events: all;
	}
	body.open {
		overflow: hidden;
	}
	.fullscreen-links li {
		opacity: 1;
		width: 100%;
		text-align: center;
		justify-content: center;
	}
	.fullscreen-links li a {
		font-size: 25px;
		color: var(--cyan);
	}
	.fullscreen-links li:nth-child(1) {
		transition: all 0.5s ease 0.2s;
	}
	.fullscreen-links li:nth-child(2) {
		transition: all 0.5s ease 0.4s;
	}
	.fullscreen-links li:nth-child(3) {
		transition: all 0.5s ease 0.6s;
	}
	.fullscreen-links li:nth-child(4) {
		transition: all 0.5s ease 0.8s;
	}
	.fullscreen-links li:nth-child(5) {
		transition: all 0.5s ease 1s;
	}
	.fullscreen-links .nav-button {
		transition: all 0.5s ease 1;
	}
	.line:nth-child(1).reposition {
		transform: rotate(45deg) translate(5px, 5px);
		width: 25px;
	}
	.line:nth-child(2).reposition {
		opacity: 0;
	}
	.line:nth-child(3).reposition {
		transform: rotate(-45deg) translate(5px, -5px);
		width: 25px;
	}
	ol li a::before {
		display: none;
	}
}
